[Unit]
Description=Run Price Tracker every 300s from Monday to Friday from 9 to 18 and Saturday one shot

[Timer]
OnCalendar=Mon..Fri *-*-* 09..18:0/5:0
OnCalendar=Sat *-*-* 00:00:00
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
